root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
max_line_length = null

[.md]
indent_style = tab

[*.yml]
indent_size = 2
insert_final_newline = false

[*.sql]
indent_size = 4
insert_final_newline = false
